#viewlet-consent {
  background: #000;
  bottom: 5px;
  right: 5px;
  box-sizing: border-box;
  color: #fff;
  margin: 0 auto;
  opacity: .92;
  padding: 1em 2em 1em 1em;
  position: fixed;
  left: calc(100% - 450px);
  width: 450px;
  text-align: left;
  vertical-align: baseline;
  z-index: 20180509;
}

.consent-text {
  display: inline-block;
}

.consent-title {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.consent-status {
  font-weight: bold;
  margin-bottom: 0.5em;
}

#pis-icf-consent{
  background-color: #fff;
}
.consent-outer {
  background-color: #fff;
  color: #fff;
  height: 400px;
  width: 100%;
  margin: 0px auto;
  padding: 5px;
}

.separator {
  position: absolute;
  left: 49.5%;
  top: 0;
  bottom: 0;
  border-left: 1px dotted #000;
}

.left-inner {
  float: left;
}

.right-inner {
  float: right;
}

.inner{
  background-color: #efefef;
  color: #000;
  width: 49%;
  overflow: auto;
  height: 400px;
}

.bts_consent {
  right = 0px;
  float: right;
}

button.button_consent {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
  margin-right: -10px;
  margin-bottom: -5px;
}

button.button_consent span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.button_consent span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button.button_consent:hover span {
  padding-right: 25px;
}

button.button_consent:hover span:after {
  opacity: 1;
  right: 0;
}

#viewlet-consent p {
  border-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}

#viewlet-consent p a:link,
#viewlet-consent p a:visited,
#viewlet-consent p a:hover {
  color: #151798;
  text-decoration: underline;
}
